<div id="sideBar"> 
    <div id="theme-title" class="sideBarItem"></div>
    <div id="theme-selector" class="sideBarItem">
        <div id="theme-classic" class="theme-button"></div>
        <div id="theme-notebook" class="theme-button"></div>
    </div>
    <div class="sideBarItem"></div>
    <a href="index.ejs" class="sideBarItem">Dashboard</a>
    <a href="index.ejs" class="sideBarItem">Habit Tracker</a>
</div>