html {
    height: 100%;
}
  
body {
    height: 100%;
    font-family: "Sarabun", sans-serif;
    margin: 0;
    background: white;
}
/*linear-gradient(#b3ffab, #67fffc)*/

circle.fg {
    transform: rotate(90deg);
    transform-origin: 125px 125px;
}

.sideBarItem {
    display: flex;
    justify-content: center;
    padding: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #3c2861;
    text-decoration: none;
}

.sideBarItem:visited {
    color: #3c2861;
}

.dashboard-box {
    border-radius: 7%;
}

.list {
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.addBtn {
    display: inline;
    padding: 10px;
    width: 15%;
    background: #eaeaea;
    border-style: none;
    border-radius: 7px;
    color: #9f9f9f;
    float: right;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}
  
.addBtn:hover {
    background-color: #bbb;
}

.addTask {
    display: inline;
    justify-content: center;
    margin: 0;
    border: none;
    border-style: solid;
    border-radius: 10px;
    border-color: #dddddd;
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.add-today {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1%;
}

.add-today-task {
    width: 25%;
}

.add-time {
    width: 13%;
}

.add-duration {
    width: 18%;
}

.add-type {
    width: 15%;
}

.add-btntoday {
    float: none;
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    /*height: calc(100vh - 2rem);*/
    width: 100%;
    display: flex;
    overflow:scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
.slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }

.checkbox-list {
    display: flex;
}

.checkbox-wrapper.work-checkbox {
    --borderColor: #48c;
    --borderWidth: .125em;
}

.checkbox-wrapper.day-checkbox {
    --borderColor: rgb(68, 204, 100);
    --borderWidth: .125em;
}

.checkbox-wrapper label {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.checkbox-wrapper input[type=checkbox] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    background: #fff;
    font-size: 1.8em;
    border-radius: 0.125em;
    display: inline-block;
    border: var(--borderWidth) solid var(--borderColor);
    width: 1em;
    height: 1em;
    position: relative;
}

.checkbox-wrapper input[type=checkbox]:before,
.checkbox-wrapper input[type=checkbox]:after {
    content: "";
    position: absolute;
    background: var(--borderColor);
    width: calc(var(--borderWidth) * 3);
    height: var(--borderWidth);
    top: 50%;
    left: 10%;
    transform-origin: left center;
  }

.checkbox-wrapper input[type=checkbox]:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
    transition: transform 200ms ease-in 200ms;
  }

.checkbox-wrapper input[type=checkbox]:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
    transform-origin: left center;
    transition: transform 200ms ease-in;
}

.checkbox-wrapper input[type=checkbox]:checked:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
    transition: transform 200ms ease-in;
}

.checkbox-wrapper input[type=checkbox]:checked:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
    transition: transform 200ms ease-out 200ms;
}
  
.checkbox-wrapper input[type=checkbox]:focus {
    outline: calc(var(--borderWidth) / 2) rgba(0, 0, 0, 0.25);
}

.checkbox-wrapper .checkbox-item {
    font-family: "Sarabun", sans-serif;
}

.checkbox-wrapper.day-checkbox input[type=checkbox]:checked + span {
    color: #75c075; 
    font-style: normal;
    text-decoration: line-through;
}

.checkbox-wrapper.work-checkbox input[type=checkbox]:checked + span {
    color: #5d99fa;
    font-style: normal;
    text-decoration: line-through;
}

.submit-btn {
    display: inline;
    margin-top: 25px;
    padding: 10px;
    background: #eaeaea;
    border-style: none;
    border-radius: 7px;
    color: #777a7d;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #bbb;
    color: whitesmoke;
}

#page {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    height: 100vh;
}

#sideBar {
    width: 30vh;
    height: 100vh;
    background-color: white;
}

#sideBar #theme-title {
    font-size: medium;
    padding-bottom: 0;
    height: 1vh;
}

#sideBar #theme-selector {
    height: 4vh;
}

#dashboard {
    display: grid;
    flex-grow: 2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f8f9fc;
}

#dashboard h2 {
    font-family: "Sarabun", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: span 1;
    grid-column: span 3;
    margin: 30px;
    border-radius: 50px;
    background-color: white;
    
}

#schedule hr {
    width: 90%; 
    border-width:0;
    border-top: 5px dotted #8cc0ee;
    margin-bottom: 30px;
    color:gray;
}

#schedule .task-schedule {
    display: inline;
}

#schedule .schedule-plan {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

#schedule .schedule-timeholder {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    gap: 35%;
}

#schedule .schedule-time {
    font-size: large;
}

#schedule #schedule-taskholder {
    display: flex;
    gap: 50px;
}

#progressRing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}


@media (max-width: 1200px) {
    body {
        font-size: 0.8rem;
    }

    .sideBarItem {
        font-size: 1.2rem;
    }

    .addTask {
        font-size: 13px;
    }

    .submit-btn {
        font-size: 0.8rem;
    }

    #dashboard h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1075px) {
    body {
        font-size: 0.8rem;
    }

    #dashboard {
        display: grid;
        flex-grow: 1;
        grid-template-columns: 1fr 1fr;
    }

    #schedule {
        grid-column: span 2;
    }

    .schedule-plan {
        gap: 20vw;
    }
    #progressRing {
        grid-row: span 2;
    }

    #sideBar {
        position: relative;
    }

    #page {
        height:fit-content;
    }
}

@media (max-width: 850px) {
    body {
        font-size: 0.75rem;
    }

    .sideBarItem {
        font-size: 1rem;
    }

    .addTask {
        font-size: 13   px;
    }

    .submit-btn {
        font-size: 0.7rem;
    }

    #sideBar {
        width: 20vh;
    }

    #dashboard h2 {
        font-size: 1rem;
    }
    #dashboard {
        display: grid;
        flex-grow: 1;
        grid-template-columns: 1fr;
    }

    #schedule {
        grid-column: span 2;
    }

    #progressRing {
        grid-row: span 2;
    }

    #sideBar {
        position: relative;
    }

    #page {
        height: fit-content;
    }
}


